@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238, 231, 231);
}

.index__bg {
  background-image: linear-gradient(rgba(18, 18, 18, 0.502), rgba(255, 255, 255, 0.501)), url("assets/images/portatil.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
}

.nav_1 {
  background-color: rgba(18, 18, 18, 0.502);
}

.jumbotron__box1 {
  padding-top: 300px;
  text-shadow: 1px 3px 5px #232323;
  text-align: center;
  margin-bottom: 100px;
  height: 800px;
}
.jumbotron__box1 h1 {
  letter-spacing: 5px;
  color: #dcdcdc;
  font-family: "Open Sans", sans-serif;
}
.jumbotron__box1 p {
  color: #232323;
  font-size: 30px;
  letter-spacing: 2px;
  padding-bottom: 80px;
}
.jumbotron__box1 a {
  border-radius: 12px;
}

.footer__box1 nav {
  background-color: rgba(0, 0, 0, 0.051);
  border-radius: 30px 30px 0 0;
  font-size: 10px;
}
.footer__box1 nav a {
  color: white;
}

.about__box1 {
  background-color: #dcdcdc;
}
.about__box1 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  letter-spacing: -6px;
  color: #232323;
  line-height: 60px;
  text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.2);
}

.text {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
  letter-spacing: -6px;
  color: #232323;
  line-height: 60px;
  text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.2);
}
.text .text1 {
  color: rgb(105, 125, 125);
  font-size: 55px;
  writing-mode: vertical-rl;
}
.text .text2 {
  color: orange;
  display: inline-block;
  font-size: 100px;
}
.text .text3 {
  color: rgb(105, 125, 125);
  font-size: 40px;
}

.card__box1 {
  background-color: #dcdcdc;
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 100px;
  border: none;
}
.card__box1 .card__col1 {
  background-color: rgb(238, 231, 231);
}

.card__body h2 {
  font-family: "Anuphan", sans-serif;
  color: #282828;
  text-align: start;
  line-height: 45px;
  letter-spacing: -1px;
}
.card__body p {
  font-family: "Open Sans", sans-serif;
  color: #282828;
}
.card__body .btn__contact {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}
.card__body .btn__contact:hover {
  color: #ff1100;
}

.img_Escritorio2 {
  border: 0.4em solid #e9e9e9;
  border-radius: 0.1em;
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.2);
}

.mS__box1 {
  background-color: #232323;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  min-height: 700px;
  box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.2);
}
.mS__box1 .mS__section1 h1 {
  color: #dcdcdc;
}
.mS__box1 .mS__section1 p {
  color: #dcdcdc;
}

.barras__box {
  margin-top: 100px;
  margin-bottom: 100px;
}

.skillscard__box1 {
  background-color: #dcdcdc;
}
.skillscard__box1 .card__box2 {
  background-color: #dcdcdc;
  transform: skew(-10deg, 0deg);
}
.skillscard__box1 .card__box2 h5 {
  background-color: #232323;
}
.skillscard__box1 .card__box2 p {
  background-color: #232323;
}

.cont__box1 {
  background-color: #dcdcdc;
}

video {
  width: 460px;
  height: auto;
  background-size: cover;
  max-width: 350px;
}

.port__box1 {
  background-color: #232323;
}
.port__box1 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  letter-spacing: -7px;
  color: #cccccc;
  line-height: 50px;
}
.port__box1 #galeria img {
  width: 100%;
  height: auto;
}
.port__box1 #galeria img:hover {
  border: 5px solid #dcdcdc;
}/*# sourceMappingURL=styles.css.map */